[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
fastapi = "*"
sqlalchemy = "*"
alembic = "*"
pymysql = "*"
passlib = {extras = ["bcrypt"], version = "*"}
python-multipart = "*"
python-jose = {extras = ["cryptography"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
